
<div id="headerDiv">
    <div class="titleDiv">
        <p id="title">ვიზიტები</p>
    </div>
    
    
    <dx-text-box 
    [showClearButton]="true"
    placeholder="ფილტრი"
    valueChangeEvent="keyup"
    (onValueChanged)="filterValueChanged($event)"
    >

    </dx-text-box>

    <dx-date-box 
    [(ngModel)]="visitDate"
    (onValueChanged)="dateChange($event)"
    [acceptCustomValue]="false"
    [openOnFieldClick]="true"
    [stylingMode]="'outlined'"
    [label]="'თარიღი'"
    [displayFormat]="'dd-MM-yyyy'"
    [dateSerializationFormat]="'yyyy-MM-dd'"
    >
    </dx-date-box>
</div>
<div id="mainDiv" cdkDropList (cdkDropListDropped)="onDrop($event)">
    <div *ngIf="dataSource.length === 0" class="notFoundDiv">
        მიმდინარეობს მონაცემების ჩატვირთვა...
    </div>
    <div *ngIf="FilteredData.length> 0">
    <div class="tabDiv" (click)="visitClick(visit)" *ngFor="let visit of FilteredData" cdkDrag [cdkDragStartDelay]="750" cdkDragBoundary=".mainDiv">
        <div class="clientAdressDiv">
            <p id="nameP">{{visit.Accnu}}</p>
            <p id="adressP">{{visit.Address}}</p>
        </div>
        <div class="otherInfoDiv">
            <p>შეკვეთები: 
                <a class="otherInfoP">{{visit.Ordsuccess}}/{{visit.Ordn}}</a>
            </p>
            <p>დაბრუნებები: 
                <a class="otherInfoP">{{visit.Retsuccess}}/{{visit.Retn}}</a>
            </p>
            <p>თანხა: 
                <a class="otherInfoP">{{visit.Collectpay}}/{{visit.Payedcash}}</a>
            </p>
        </div>
    </div>
    </div>
    <div *ngIf="FilteredData.length === 0" class="notFoundDiv">
        ვიზიტები ვერ მოიძებნა...
    </div>
</div>


  
