$header-height: 64px;

:host {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
}

.layout-header {
  z-index: 1501;
}


#myMenu {
  height: $header-height;
}

.content {
    display: flex;
    flex-direction: column;
    height: calc((100vh - #{$header-height}) - 1vh);
}